.git
.cache
*.md
!README*.md
README-secret.md
./libs/types/src/lib/contest.types.ts
./libs/utils/src/lib/seed/seed.ts
./libs/dto/src/lib/questions
./libs/dto/src/lib/contests
./libs/dto/src/lib/answers
