services:
  percona:
    image: percona
    hostname: percona
    restart: unless-stopped
    volumes:
      - api-data:/var/lib/mysql
    # Uncomment to change startup options
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: pass123
      MYSQL_DATABASE: mostaqil
    networks:
      - db_network

  contest:
    image: amineyagoub/olympiad-contest
    hostname: contest
    restart: unless-stopped
    environment:
      - DATABASE_URL=mysql://user:pass123@percona:3306/mostaqil
      - WAIT_HOSTS= percona:3306
    networks:
      - db_network
      - service_network

  gateway:
    image: amineyagoub/olympiad-gateway
    restart: unless-stopped
    environment:
      - GATEWAY_CONTEST_SERVICE_HOST=http://contest:3001/graphql
    depends_on:
      - 'contest'
    networks:
      - service_network
    ports:
      - 3005:3005


  wss:
    image: amineyagoub/olympiad-wss
    restart: unless-stopped
    networks:
      - service_network
    ports:
      - 3003:3003

  frontend:
    image: amineyagoub/olympiad-frontend
    environment:
      - NEXT_PUBLIC_PROD_WS_ENDPOINT=https://wss.arabic-olympiad.ga
      - NEXT_PUBLIC_PROD_GRAPHQL_ENDPOINT=https://api.arabic-olympiad.ga
      - NEXT_PUBLIC_COUNTRIES_ENDPOINT=https://restcountries.com/v3.1/all
    ports:
      - 3000:3000
    depends_on:
      - wss
      - gateway
    networks:
      - service_network
    volumes:
      - ./uploads:/app/uploads


volumes:
  api-data: null
networks:
  db_network:
  service_network: